%h1 Работы для проверки

%table.table.table-bordered
  %thead
    %tr
      %th Студент
      %th Дисциплина

  %tbody
    -@works.each do |work|
      %tr
        %td= link_to work.student.full_name, student_work_path(work)
        %td= work.discipline.title
        